/*исправление жирной шапки*/
@media (max-width: 1500px){
header .header_top_nav > .container > .row > div:first-of-type {
    width: 60%;
    order: 0; 
    padding: 10px 0;
}
header .header_top_nav > .container > .row > div:last-of-type {
    order: 0;
    border-bottom: 1px solid #ebebeb;
}
header .header_top_nav > .container > .row {
    display: flex;
    flex-direction: row;
}
}

body > header > div.header_top_nav.background_light_gray{
    display: flex;
    flex-direction: row;
}
